<div class="container">
    <header class="main-header">
        <h1>Company Coffee</h1>
        <p>Hi <%=@user.user_name%>, what can we make for you today? </p>
        <hr>
    </header>
    
    <div class="main-content">
     <input type ="hidden" name="id" value="<%=@user.id%>">  
        <div>    
            <%print_menu=Menu.all%>
            <%print_menu.each do |item|%>
                
            <form action="/user/drink/<%=item.drink_name%>" method="post">
                <input type="Submit" value="<%=item.drink_name%>"> 
                <br> 
                <input type ="hidden" name="user_id" value="<%=@user.id%>">
            </form>
            <%end%>
        </div>
    </div>
    
</div>
    