<div>
    <h1>Company Coffee</h1>
    <p>Hi <%=@user.user_name%>, what can we make for you today? </p>
    <br>
    <div>
     <input type ="hidden" name="user_id" value="<%=@user.user_id%>">  
        <div>    
                <%print_menu=Menu.fetch_drinks%>
                <%print_menu.each do |hash|%>
            <form action="/user/drink/<%=hash["drink_name"]%>">
                <input type = "Submit" value="<%=hash["drink_name"]%>">
                <br>
                <%end%>
                <input type ="hidden" name="user_id" value="<%=@user.user_id%>">
            </form>
        </div>
    </div>
</div>


