<div>
    <h1>Company Coffee</h1>
    <p>Hi <%=@user.user_name%>, what can we make for you today? </p>
    <br>
    <div>
<!--refactor with hrefs and with the drink menu -->
        <form method=:link action="/coffee_page">
            <input type ="hidden" name="user_id" value="<%=@user.user_id%>">
            <input type = "Submit" value="Coffee">
        </form>
        <br>
        <form method=:link action="/mocha_page">
            <input type ="hidden" name="user_id" value="<%=@user.user_id%>">
            <input type = "Submit" value="Mocha">
        </form>
        <br>
        <form method=:link action="/americano_page">
            <input type ="hidden" name="user_id" value="<%=@user.user_id%>">
            <input type = "Submit" value="Americano">
        </form>
        <br>
        <form method=:link action="/latte_page">
            <input type ="hidden" name="user_id" value="<%=@user.user_id%>">
            <input type = "Submit" value="Latte">
        </form>
        <br>
        <form method=:link action="/cappuccino_page">
            <input type ="hidden" name="user_id" value="<%=@user.user_id%>">
            <input type = "Submit" value="Cappuccino">
        </form>
    </div>
</div>
