<div>
    <h1>Company Coffee</h1>
        <p>Make these drinks.</a></p>
        <p>
        <%print_orders=Item.all%>
        <%print_orders.each do |item|%>
    
<form action="/bar_order_page">
        <input type="radio" name="item_id" value="<%=item.item_id %>">
    
        <%= item.item_id %>
        <%= item.drink %> -<b>
        <%= item.size %> -<b>
        <%= item.reg_decaf %> -<b>
        <%= item.cream %> -<b>
        <%= item.sugar %> -<b>
        <%= item.reg_skim %> -<b>
        <%= item.whip_nowhip %> -<b>
        <%= item.flavor %> -<b>
        <%= item.wet_dry %> -<b>
        </p>
        <%end%>
        <input type="submit" value="Order is Made">        
</form>    

</div>